    <div class="parent three" onclick="">
        <div class="child bg-one">
            <span><a href="https://www.seattle.gov/parks/find/parks/kerry-park" target="_blank">Kerry Park View!</a></span>
        </div>
    </div>

    <div class="parent three" onclick="">
        <div class="child bg-two">
            <span><a href="https://www.seattle.gov/parks/find/parks/alki-beach-park" target="_blank">Alki Beach View!</a></span>
        </div>
    </div>

    <div class="parent three" onclick="">
        <div class="child bg-three">
            <span><a href="https://www.seattle.gov/parks/find/parks/yesler-terrace-park">Yesler Terrace Park!</a></span>
        </div>
    </div>

      <div class="parent two" onclick="">
        <div class="child bg-four">
            <span><a href="https://mbarseattle.com/" target="_blank">MBar!</a></span>
        </div>
      </div>
      <div class="parent two" onclick="">
        <div class="child bg-five">
            <span><a href="https://www.graduatehotels.com/seattle/restaurant/mountaineering-club/" target="_blank">Mountaineering Club!</a></span>
        </div>
      </div>

    <div class="parent four" onclick="">
        <div class="child bg-six">
            <span><a href="https://www.wta.org/go-hiking/hikes/rattlesnake-ledge" target="_blank">Rattlesnake Ledge!</a></span>
        </div>
    </div>
    <div class="parent four" onclick="">
        <div class="child bg-seven">
            <span><a href="https://www.wta.org/go-hiking/hikes/poo-poo-point" target="_blank">Poo Poo Point!</a></span>
        </div>
    </div>
    <div class="parent four" onclick="">
        <div class="child bg-eight">
            <span><a href="https://www.wta.org/go-hiking/hikes/mailbox-peak" target="_blank">Mailbox Peak!</a></span>
        </div>
    </div>
    <div class="parent four" onclick="">
        <div class="child bg-nine">
            <span><a href="https://www.wta.org/go-hiking/hikes/talapus-and-olallie-lakes" target="_blank">Talapus and Olallie Lakes!</a></span>
        </div>
    </div>

    <div class="parent three-long" onclick="">
        <div class="child bg-ten">
            <span><a href="https://www.mccawhall.com/events/detail/the-nutcracker-2019" target="_blank">The Nutcracker at McCaw Hall!</a></span>
        </div>
    </div>

    <div class="parent three-long" onclick="">
        <div class="child bg-eleven">
            <span><a href="https://snowflakelane.com/" target="_blank">Snowflake Lane!</a></span>
        </div>
    </div>

    <div class="parent three-long" onclick="">
        <div class="child bg-twelve">
            <span><a href="https://enchantchristmas.com/seattle" target="_blank">Enchant Christmas Seattle!</a></span>
        </div>
    </div>
    <div class="parent four" onclick="">
        <div class="child bg-thirteen">
            <span><a href="http://amfseattle.com/" target="_blank">All My Friends!</a></span>
        </div>
    </div>
    <div class="parent four" onclick="">
        <div class="child bg-fourteen">
            <span><a href="https://www.showboxpresents.com/" target="_blank">Showbox!</a></span>
        </div>
    </div>
    <div class="parent four" onclick="">
        <div class="child bg-fifteen">
            <span><a href="https://www.facebook.com/monkeyloftseattle/" target="_blank">Monkey Loft!</a></span>
        </div>
    </div>
    <div class="parent four" onclick="">
        <div class="child bg-sixteen">
            <span><a href="https://www.jazzalley.com/www-home/" target="_blank">Dimitriou's Jazz Bar!</a></span>
        </div>
    </div>
    <div class="parent two" onclick="">
        <div class="child bg-seventeen">
            <span><a href="https://www.stevenspass.com/" target="_blank">Stevens Pass!</a></span>
        </div>
      </div>
      <div class="parent two" onclick="">
        <div class="child bg-eighteen">
            <span><a href="https://www.crystalmountainresort.com/" target="_blank">Crystal Mountain!</a></span>
        </div>
      </div>
      <div class="parent three" onclick="">
        <div class="child bg-nineteen">
            <span><a href="https://www.soundersfc.com/" target="_blank">Sounders!</a></span>
        </div>
    </div>

    <div class="parent three" onclick="">
        <div class="child bg-twenty">
            <span><a href="https://www.seahawks.com/" target="_blank">Seahawks!</a></span>
        </div>
    </div>

    <div class="parent three" onclick="">
        <div class="child bg-twentyone">
            <span><a href="https://www.mlb.com/mariners" target="_blank">Mariners!</a></span>
        </div>
    </div>